<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <br>
    <a th:href="@{/logout}">Выйти</a>
    <br><br>
    <div>
        <button  type="button">
            <a href="admin/user/add" th:href="@{admin/user/add}" style="text-decoration: none">Добавить пользователя</a>
        </button>
    </div>
    <br>
    <h2>Список пользователей</h2>
    <table>
        <thead>
        <tr>
            <td>Логин</td>
            <td>Пароль</td>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>Роль</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${list}">
            <td th:text="${user.username}">Логин</td>
            <td th:text="${user.password}">Пароль</td>
            <td th:text="${user.name}">Имя</td>
            <td th:text="${user.surname}">Фамилия</td>
            <td th:text="${user.age}">Возраст</td>
            <td th:text="${user.roleSet}">Роль</td>
            <td>
                <button  type="button">
                    <a href="admin/user/edit" th:href="@{admin/user/edit(userId=${user.id})}" style="text-decoration: none">Изменить</a>
                </button>
                <button  type="button">
                    <a href="admin/user/delete" th:href="@{admin/user/delete(userId=${user.id})}" style="text-decoration: none">Удалить</a>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>